
p
{
    color:#b44a4a;
    font-family:"Times New Roman", 'Times New Roman', Times, serif; /*fallback*/
    font-style:italic;
    font-size: 1em; /* 16px 5vw*/
 }


#miParrafo
{
  color:rgb(red, green, blue)
}

miDiv
{
  color
}